// Media Size

$mobile: "screen and (max-width: 700px)";

// Fonts

$space-mono: 'Space Mono', monospace;
$poppins: "Poppins", sans-serif;

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  max-width: 1440px;
}

a:-webkit-any-link {
  color: black;
}