#filters_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 8.7rem;
    @media #{$mobile} {
        flex-direction: column;
        padding: 0;
        width: 100%;
    }
    select {
        width: 260px;
        height: 42px;
        border-radius: 8px;
        border: solid 1.3px #B8BBC2;
        font-family: $poppins;
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
        @media #{$mobile} {
            margin: 0.5rem 0;
            width: 270px;
        }
        &:active {
            border: solid 1.3px #215AFF;
        }
        &:focus {
            border: solid 1.3px #215AFF;
        }
        option {
            @media #{$mobile} {
                width: 270px;
            }
        }
    }

    
}