.lightbox_container {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background: rgba(0,0,0,.8);
    visibility: hidden;
    opacity: 0;
    padding: 2rem 6rem;
    color: white;
    font-family: $poppins;
    text-transform: uppercase;
    font-size: 14px;
    @media #{$mobile} {
        padding: unset;
    }
    .fa-xmark{
        position: absolute;
        right: 20rem;
        font-size: 1.5rem;
        cursor: pointer;
        @media #{$mobile} {
            right: 2rem;
            margin-top: 6rem;
        }
    }
    &.overlay_lightbox {
        visibility: visible;
        opacity: 1;
    }
    .lightbox_content_container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 80%;
        padding-top: 2rem;
        @media #{$mobile} {
            width: 100%;
            display: block;
            flex-direction: column;
        }
        .nav_lightbox {
            @media #{$mobile} {
                display: none;
            }
        }
        .nav_lightbox_icon {
            color: white;
            cursor: pointer;
            padding: 0 5px;
            @media #{$mobile} {
                display: none;
            }
        }
        .lightbox_content {
            width: 80%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            @media #{$mobile} {
                width: 80%;
                margin: auto;
                justify-content: center;
            }
            img {
                height: 80%;
                @media #{$mobile} {
                    width: 80%;
                    height: unset;
                }
            }
            .lightbox_photo_infos {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                p {
                    padding: 0 7rem;
                    @media #{$mobile} {
                        font-size: 20px;
                        padding: 0 4rem;
                    }
                }
            }
            .nav_lightbox_mobile_container {
                display: none;
                @media #{$mobile} {
                    display: block;

                }
                .nav_mobile {
                    display: flex;
                    .nav_lightbox_mobile {
                        padding: 0 4rem;
                        font-size: 16px;
                    }
                    
                }
            }
        }
        
    }
}
