#modale_contact {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    &.overlay {
        visibility: visible;
        opacity: 1;
    }
    #modale_contact_container {
        position: inherit;
        z-index: 2;
        max-width: 35%;
        min-height: 80%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        height: 0;
        text-align: center;
        padding-top: 20px;
        overflow: hidden;
        border: solid black 4px;
        background-color: white;
    }
    
    #header_modale_contact img {
        height: 106.05px;
    }
}