nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    @media #{$mobile} {
        padding: 1rem 0;
    }
    margin: 0 8rem;
    img {
        height: 14px;
        @media #{$mobile} {
            height: 9px;
        }
    }
    ul#menu-main-menu {
        @media #{$mobile} {
            display: none;
        }
        width: 20rem;
        list-style-type: none;
        font-family: $space-mono;
        font-size: 16px;
        text-transform: uppercase;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        a {
            text-decoration: none;
            color: black;
            &:visited {
                color: black;
                font-weight: 700;
            }
            &:hover {
                color: black;
            }
            &:active {
                color: black;
            }
        }
}

}